environment:
  PATH: '%PATH%;C:\Program Files (x86)\Rust\bin;C:\MinGW\bin'
  RUST_BACKTRACE: 1
  matrix:
  - TARGET: x86_64-pc-windows-msvc
    FEATURES: "unstable"
  - TARGET: i686-pc-windows-msvc
    FEATURES: "unstable"
  - TARGET: i686-pc-windows-gnu
    FEATURES: "unstable"
  - TARGET: x86_64-pc-windows-msvc
    FEATURES: "unstable force-inprocess"
  - TARGET: i686-pc-windows-msvc
    FEATURES: "unstable force-inprocess"
  - TARGET: i686-pc-windows-gnu
    FEATURES: "unstable force-inprocess"
  - TARGET: x86_64-pc-windows-msvc
    FEATURES: "unstable windows-shared-memory-equality"
  - TARGET: i686-pc-windows-msvc
    FEATURES: "unstable windows-shared-memory-equality"
  - TARGET: i686-pc-windows-gnu
    FEATURES: "unstable windows-shared-memory-equality"
install:
  - ps: Start-FileDownload "https://static.rust-lang.org/dist/rust-nightly-${env:TARGET}.exe"
  - rust-nightly-%TARGET%.exe /VERYSILENT /NORESTART /DIR="C:\Program Files (x86)\Rust"
  - rustc -V
  - cargo -V

build: false

test_script:
  - cargo test --verbose --features "%FEATURES%"
