[package]
name = "ipc-channel"
version = "0.7.0"
description = "A multiprocess drop-in replacement for Rust channels"
authors = ["The Servo Project Developers"]
license = "MIT/Apache-2.0"
repository = "https://github.com/servo/ipc-channel"

[features]
force-inprocess = []
memfd = ["syscall"]
unstable = []

[dependencies]
bincode = "1.0.0-alpha2"
lazy_static = "0.2"
libc = "0.2.12"
rand = "0.3"
serde = "0.9"
uuid = {version = "0.4", features = ["v4"]}
fnv = "1.0.3"

[target.'cfg(any(target_os = "linux", target_os = "freebsd"))'.dependencies]
mio = "0.6.6"

syscall = { version = "0.2.1", optional = true }

[dev-dependencies]
crossbeam = "0.2"
