[package]
name = "ipc-channel"
version = "0.11.3"
description = "A multiprocess drop-in replacement for Rust channels"
authors = ["The Servo Project Developers"]
license = "MIT/Apache-2.0"
repository = "https://github.com/servo/ipc-channel"
edition = "2018"

[features]
force-inprocess = []
memfd = ["sc"]
unstable = []
async = ["futures"]

[dependencies]
bincode = "1"
crossbeam-channel = "0.3"
lazy_static = "1"
libc = "0.2.12"
rand = "0.6"
serde = { version="1.0", features=["rc"] }
uuid = {version = "0.7", features = ["v4"]}
fnv = "1.0.3"
tempfile = "3"

[target.'cfg(any(target_os = "linux", target_os = "openbsd", target_os = "freebsd"))'.dependencies]
mio = "0.6.11"

sc = { version = "0.2.2", optional = true }
futures = { version = "0.1", optional = true }

[dev-dependencies]
crossbeam = "0.2"
